<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miraibotwatch"
        tools:targetApi="19">
        <activity android:name=".GroupMessageActivity" android:theme="@style/Base.Theme.MiraibotwatchNoSwipe" android:exported="false" />
        <activity android:name=".GroupNoticeActivity" android:theme="@style/Base.Theme.MiraibotwatchNoSwipe" android:exported="false" />
        <activity android:name=".GroupMemberActivity" android:theme="@style/Base.Theme.MiraibotwatchNoSwipe" android:exported="false" />
        <activity android:name=".GroupActivity" android:theme="@style/Base.Theme.MiraibotwatchNoSwipe" android:exported="false" />
        <activity android:name=".AppActivity" android:theme="@style/Base.Theme.MiraibotwatchNoSwipe" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>